@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/app.js"></script>

<style>
    .gauge {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #canvas-preview {
        background-color: transparent;
    }

    #minVal {
        display: none;
        position: fixed;
        left: 18%;
        color: white;
    }

    #maxVal, #preview-textfield {
        display: none;
    }
</style>


<body ng-app="OnlineStatus">
    <div class="container-fluid">
        <div class="card-deck">
        <div class="card">
            <div class="card-header badge-danger">
                Budget
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div>
                    <canvas id="canvas-preview"></canvas>
                    <div id="minVal">0</div>
                    <div id="maxVal">300</div>
                    <div id="preview-textfield">0%</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header badge-danger">
                Projects Closed
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div>
                    <canvas id="canvas-preview2"></canvas>
                    <div id="minVal">0</div>
                    <div id="maxVal">300</div>
                    <div id="preview-textfield">0%</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header badge-danger">
                Efficiency-Hours Saved
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div>
                    <canvas id="canvas-preview3"></canvas>
                    <div id="minVal">0</div>
                    <div id="maxVal">300</div>
                    <div id="preview-textfield">0%</div>
                </div>
            </div>
        </div>
            </div>
        <div class="card-deck mt-3">
            <div class="card">
                <div class="card-header badge-danger">
                    Outage Hours
                </div>
                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div>
                        <canvas id="canvas-preview4"></canvas>
                        <div id="minVal">0</div>
                        <div id="maxVal">300</div>
                        <div id="preview-textfield">0%</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header badge-danger">
                    Defect Reduction
                </div>
                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div>
                        <canvas id="canvas-preview5"></canvas>
                        <div id="minVal">0</div>
                        <div id="maxVal">300</div>
                        <div id="preview-textfield">0%</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header badge-danger">
                    Chicago Sports Wins
                </div>
                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div>
                        <canvas id="canvas-preview6"></canvas>
                        <div id="minVal">0</div>
                        <div id="maxVal">300</div>
                        <div id="preview-textfield">0%</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Deck div-->
    <!--Container div-->

    <div ng-show="online">
        <i class="fa fa-check-circle" style="color:green"></i>
        <span>Online</span>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-show="!online">
        <i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i>
        <span>Offline</span>
    </div>

  </body>

@*<script src='https://bernii.github.io/gauge.js/dist/gauge.min.js'></script>*@
<script src="js/index.js"></script>
