@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="card-deck">
            <div class="col-mt-4 card w-35 effect_flip" data-id="1">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 1</h2>
                    </div>

                    <div class="card-block">

                    </div>
                </div>

                <div class="card_back">
                    <div class="card-header">
                        <h2>Card 1 - Back</h2>
                    </div>
                    <div class="card-block">
                        <div id="wrapper">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-mt-4 card w-35 effect_flip" data-id="2">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 2</h2>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card_back">

                    <div class="card-header">
                        <h2>Card 2 - Back</h2>
                    </div>
                    <div class="card-block">
                        <div id="wrapper">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-mt-4 card w-35 effect_flip" data-id="3">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 3</h2>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card_back">
                    <div class="card-header">
                        <h2>Card 3 - Back</h2>
                    </div>
                    <div class="card-block">
                        <div id="wrapper">

                        </div>
                    </div>
                </div>

            </div>


        </div><!--Deck div-->

        <br>

        <div class="card-deck">
            <div class="col-mt-4 card w-35 effect_flip" data-id="4">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 4</h2>
                    </div>
                    <div class="card-block">
                    </div>
                </div>

                <div class="card_back">
                    <div class="card-header">
                        <h2>Card 4 - Back</h2>
                    </div>
                    <div class="card-block">
                        <div id="wrapper">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-mt-4 card w-35 effect_flip" data-id="5">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 5</h2>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card_back">
                    <div class="card-header">
                        <h2>Card 5 - Back</h2>
                    </div>
                    <div class="card-block">

                        <div id="wrapper">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-mt-4 card w-35 effect_flip" data-id="6">
                <div class="card_front">
                    <div class="card-header">
                        <h2>Card 6</h2>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card_back">
                    <div class="card-header">
                        <h2>Card 6 - Back</h2>
                    </div>
                    <div class="card-block">

                        <div id="wrapper">

                        </div>
                    </div>
                </div>
            </div>
        </div><!--Deck div-->
    </div><!--Container div-->