@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-fluid" ng-controller="DataController">
        <!--START CARD ROW1-->
        <div class="card-deck">
            <!--CARD1 Budget-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        {{Data.Goal_1.Title_Label}}
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="Canvas-Budget"></canvas>
                        </div>
                        <div class="card-footer">
                            <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_1.Current_Value/Data.Goal_1.Current_Goal)| number:0}}%</span></div>
                            <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_1.Current_Value | currency:"$":0}}</span></div>
                            <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_1.Current_Goal | currency:"$":0}}</span></div>
                        </div>
                    </div>
                </div>
                <!-- CARD1 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        {{Data.Goal_1.Title_Label_Details}}
                    </div>
                    <div class="card-block">
                        <i>{{Data.Goal_1.Goal_Desc_Long}}</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_1.Q1_Value}}</td>
                                    <td>{{Data.Goal_1.Q2_Value}}</td>
                                    <td>{{Data.Goal_1.Q3_Value}}</td>
                                    <td>{{Data.Goal_1.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--END CARD! Details-->
            </div>
            <!--END CARD1 Budget -->
            <!--CARD2 PROJECTS_CLOSED-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        Projects Closed
                    </div>
                    <div class="card-block">
                        <canvas id="Canvas-Projects"></canvas>
                    </div>
                    <div class="card-footer">
                        <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_3.Current_Value/Data.Goal_3.Current_Goal)| number:0}}%</span></div>
                        <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_3.Current_Value}}</span></div>
                        <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_3.Current_Goal}}</span></div>
                    </div>
                </div>
                <!--CARD2 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        Project Details
                    </div>
                    <div class="card-block">
                        <i>Project Completion Goal - Complete Projects per Plan</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_3.Q1_Value}}</td>
                                    <td>{{Data.Goal_3.Q2_Value}}</td>
                                    <td>{{Data.Goal_3.Q3_Value}}</td>
                                    <td>{{Data.Goal_3.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--END CARD2 DETAILS-->
            </div>
            <!--END CARD2 PROJECTS CLOSED-->
            <!--CARD3 EFFICIENCY_HOURS_SAVED-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        {{Data.Goal_4.Title_Label}}
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="Canvas-Efficiency"></canvas>
                        </div>
                        <div class="card-footer">
                            <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_4.Current_Value/Data.Goal_4.Current_Goal)| number:0}}%</span></div>
                            <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_4.Current_Value}}</span></div>
                            <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_4.Current_Goal}}</span></div>
                        </div>
                    </div>
                </div>
                <!--CARD3 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        {{Data.Goal_4.Title_Label_Details}}
                    </div>
                    <div class="card-block">
                        <i>{{Data.Goal_4.Goal_Desc_Long}}</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_4.Q1_Value}}</td>
                                    <td>{{Data.Goal_4.Q2_Value}}</td>
                                    <td>{{Data.Goal_4.Q3_Value}}</td>
                                    <td>{{Data.Goal_4.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--END CARD3 DETAILS-->
                </div>
                <!--END CARD3 EFFICIENCY_HOURS_SAVED-->
            </div>
            <!--END CARD ROW-->
        </div>
        <!--START CARD ROW2-->
        <div class="card-deck mt-3">
            <!--CARD4 OUTAGE_HOURS-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        {{Data.Goal_5.Title_Label}}
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="Canvas-Outage"></canvas>
                        </div>
                        <div class="card-footer">
                            <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_5.Current_Value/Data.Goal_5.Current_Goal)| number:0}}%</span></div>
                            <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_5.Current_Goal}}</span></div>
                            <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_5.Current_Goal}}</span></div>
                        </div>
                    </div>
                </div>
                <!--CARD3 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        {{Data.Goal_5.Title_Label_Details}}
                    </div>
                    <div class="card-block">
                        <i>{{Data.Goal_5.Goal_Desc_Long}}</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_5.Q1_Value}}</td>
                                    <td>{{Data.Goal_5.Q2_Value}}</td>
                                    <td>{{Data.Goal_5.Q3_Value}}</td>
                                    <td>{{Data.Goal_5.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--END CARD3 DETAILS-->
                </div>
            </div>
            <!--END CARD4 OUTAGE_HOURS-->
            <!--CARD5 DEFECT_REDUCTION-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        {{Data.Goal_2.Title_Label}}
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="Canvas-Defect"></canvas>
                        </div>
                        <div class="card-footer">
                            <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_2.Current_Value/Data.Goal_2.Current_Goal)| number:0}}%</span></div>
                            <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_2.Current_Value}}</span></div>
                            <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_2.Current_Goal}}</span></div>
                        </div>
                    </div>
                </div>
                <!--CARD3 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        {{Data.Goal_2.Title_Label_Details}}
                    </div>
                    <div class="card-block">
                        <i>{{Data.Goal_2.Goal_Desc_Long}}</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_2.Q1_Value}}</td>
                                    <td>{{Data.Goal_2.Q2_Value}}</td>
                                    <td>{{Data.Goal_2.Q3_Value}}</td>
                                    <td>{{Data.Goal_2.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--END CARD3 DETAILS-->
                </div>
            </div>
            <!--END CARD5 DEFECT_REDUCTION-->
            <!--CARD6 CHICAGO_SPORTS_WINS-->
            <div class="card effect_flip">
                <div class="card_front">
                    <div class="card-header badge-danger">
                        {{Data.Goal_6.Title_Label}}
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="Canvas-ChicagoSports"></canvas>
                        </div>
                        <div class="card-footer">
                            <div>STATUS: &nbsp;<span class="bold">{{(100*Data.Goal_6.Current_Value/Data.Goal_6.Current_Goal)| number:0}}%</span></div>
                            <div>CURRENT: &nbsp;<span class="bold">{{Data.Goal_6.Current_Value}}</span></div>
                            <div>GOAL: &nbsp;<span class="bold">{{Data.Goal_6.Current_Goal}}</span></div>
                        </div>
                    </div>
                </div>
                <!--CARD3 Details-->
                <div class="card_back">
                    <div class="card-header badge-danger">
                        {{Data.Goal_6.Title_Label_Details}}
                    </div>
                    <div class="card-block">
                        <i>{{Data.Goal_6.Goal_Desc_Long}}</i>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Q1</th>
                                    <th scope="col">Q2</th>
                                    <th scope="col">Q3</th>
                                    <th scope="col">Q4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Data.Goal_6.Q1_Value}}</td>
                                    <td>{{Data.Goal_6.Q2_Value}}</td>
                                    <td>{{Data.Goal_6.Q3_Value}}</td>
                                    <td>{{Data.Goal_6.Q4_Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--END CARD3 DETAILS-->
                </div>
                <!--END CARD6 CHICAGO_SPORTS_WINS-->
            </div>
            <!--END CARD ROW2-->
        </div>
    </div>

</body>
