
.card {
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
    height: 310px;
    width: 338px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .card_front {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    }

.card .card_back {
    transform: rotateY(180deg);
}

.card.effect_flip.flipped.card_front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect_flip.flipped.card_back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}