<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AceCards</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/cards.css" />
        <link rel="stylesheet" href="~/css/cardEffect.css" />
        <link href="~/css/NavigationBar.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body ng-app="appRoute">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="text-align:center" href="#">Ace Hardware</a>     
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fa fa-home" aria-hidden="true"></i>&nbsp; Dashboard
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa fa-television" aria-hidden="true"></i>&nbsp; TV Gauges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-github" aria-hidden="true"></i>&nbsp; GitHub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-fire" aria-hidden="true"></i>&nbsp; Firebase
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Sign Out
                            </a>
                        </li>
                    </ul>
                    <div align="center" class="col-md-12">
                        <hr />
                        <footer>

                            <div>@DateTime.Now.ToLongDateString()</div>
                            <div ng-show="online">
                                <i class="fa fa-check-circle" style="color:green"></i>
                                <span>Online</span>
                            </div>
                            <div ng-show="!online">
                                <i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i>
                                <span>Offline</span>
                            </div>
                        </footer>

                    </div>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
                <!--Section for setting online status and Date-->
                <!--If the user is connected to the internet we will show that the application is online -->
                <!--Else show that it is offline-->

            </main>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!--AngularJS + Gauge HAS to be loaded first-->
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/gauge.js/dist/gauge.js"></script>

        <!--Load Firebase and AngularFire-->
        <script src="~/lib/firebase/firebase.js"></script>
        <script src="~/lib/angularfire/dist/angularfire.js"></script>

        <script src="~/js/DataController.js"></script>
        <script src="~/js/cardFlip.js"></script>

    </environment>
    <environment exclude="Development">
        <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
