
.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-header {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    background-image: linear-gradient(to right, #EB3349, #F45C43);
    font-size: 20px;
    border-radius: 0.25rem !important;
}
